<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjz5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Local Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'bookinstances' %}">All book copies</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'books' %}">All books</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'authors' %}">All authors</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'genres' %}">All genres</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'languages' %}">All languages</a></li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item"><span class="nav-link">User: {{ user.get_username }}</span></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'my-borrowed' %}">My borrowed</a></li>
          <li class="nav-item">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
      </ul>
      {% if user.is_staff %}
        <ul class="navbar-nav">
          <li class="nav-item"><span class="nav-link">Staff</span></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'all-borrowed' %}">All borrowed</a></li>
          {% if perms.catalog.add_genre %}<li class="nav-item"><a class="nav-link" href="{% url 'genre-create' %}">Create genre</a></li>{% endif %}
          {% if perms.catalog.add_language %}<li class="nav-item"><a class="nav-link" href="{% url 'language-create' %}">Create language</a></li>{% endif %}
          {% if perms.catalog.add_author %}<li class="nav-item"><a class="nav-link" href="{% url 'author-create' %}">Create author</a></li>{% endif %}
          {% if perms.catalog.add_book %}<li class="nav-item"><a class="nav-link" href="{% url 'book-create' %}">Create book</a></li>{% endif %}
          {% if perms.catalog.add_bookinstance %}<li class="nav-item"><a class="nav-link" href="{% url 'bookinstance-create' %}">Create copy of book</a></li>{% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container mt-4">
  {% block content %}{% endblock %}
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
</div>

  </body>
</html>
